@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-brand: #534AB7;
    --color-brand-light: #EEEDFE;
    --color-brand-dark: #3C3489;
  }
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}